body {
  font-family: 'Inter', sans-serif;
}

#resume-preview {
  min-height: 297mm; /* A4 height */
  max-width: 210mm;  /* A4 width */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-field,
.input-field-small,
textarea {
  transition: all 0.2s;
}

.input-field:focus,
.input-field-small:focus,
textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37,99,235,0.2);
}

.btn-add {
  background-color: #22c55e;
  color: white;
  font-size: 0.875rem;
  padding: 4px 12px;
  border-radius: 9999px;
  font-weight: 500;
  transition: 0.2s;
}

.btn-add:hover {
  background-color: #16a34a;
}

.btn-generate {
  width: 100%;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(59,130,246,0.2);
}

.btn-generate:hover {
  background-color: #1e40af;
}

.btn{
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}